/sources/__history
/samples/ChatDemo/__history
/samples/AuthDemo/__history
/samples/SamplesProject_prjgroup.tvsconfig
/samples/SamplesProject.~dsk
/samples/SamplesProject.dsk
/samples/SamplesProject.groupproj
/samples/SamplesProject.groupproj.local
/samples/AuthDemo/AuthDemo.dproj
/samples/AuthDemo/AuthDemo.dproj.local
/samples/AuthDemo/AuthDemo.dsk
/samples/AuthDemo/AuthDemo.identcache
/samples/AuthDemo/AuthDemo.res
/samples/AuthDemo/AuthDemo.skincfg
/samples/AuthDemo/AuthDemo.stat
/samples/AuthDemo/AuthDemo.~dsk
/samples/ChatDemo/Firebase4DelphiChatDemo.stat
/samples/ChatDemo/Firebase4DelphiChatDemo.~dsk
/samples/ChatDemo/Firebase4DelphiChatDemo.dproj
/samples/ChatDemo/Firebase4DelphiChatDemo.dproj.local
/samples/ChatDemo/Firebase4DelphiChatDemo.dsk
/samples/ChatDemo/Firebase4DelphiChatDemo.identcache
/samples/ChatDemo/Firebase4DelphiChatDemo.res
/samples/ChatDemo/Firebase4DelphiChatDemo.skincfg
